<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.tv49.com.permission.PUBLISH_FADCAM"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="false"
        android:label="TV 49 East"
        android:supportsRtl="true"
        android:theme="@style/Theme.TV49East"
        android:banner="@drawable/tv49east_banner">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tv49east" android:host="channel" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FadCamHandoffActivity"
            android:exported="true"
            android:permission="com.tv49.com.permission.PUBLISH_FADCAM"
            android:theme="@style/Theme.TV49East">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="fadcam" android:host="stream" />
            </intent-filter>
        </activity>
    </application>
</manifest>
